django
django-heroku
djangorestframework
keras
django-cors-headers
numpy
tensorflow
pandas
spacy
bs4
textblob
scikit-learn
gunicorn
python-dotenv
arxiv

# GitHub repository dependencies
git+https://github.com/laxmimerit/preprocess_kgptalkie.git#egg=preprocess_kgptalkie

https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3.tar.gz

# Post-installation script (not in requirements.txt, run separately)
# python -m spacy download en_core_web_sm
